
.icon-drag {
    content: url("//www.gstatic.com/images/icons/material/system_gm/1x/drag_indicator_white_20dp.png");
}

.icon-checked {
    content: url("//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/check_box_white_20dp.png");
}
.icon-unchecked {
    content: url("//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/check_box_outline_blank_white_20dp.png");
}

.icon-star {
    content: url("//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/star_fill_googyellow500_20dp.png");
}
.icon-unstarred {
    content: url("//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/star_white_20dp.png");
}

.icon-important {
    content: url("//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/label_important_fill_googyellow500_20dp.png");
}
.icon-unimportant {
    content: url("//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/label_important_white_20dp.png");
}

.icon-archive {
    content: url("//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/archive_white_20dp.png");
}

.icon-delete {
    content: url("//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/delete_white_20dp.png");
}

.icon-mark-read {
    content: url("//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/drafts_white_20dp.png");
}
.icon-mark-unread {
    content: url("//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/mail_white_20dp.png");
}

.icon-snooze {
    content: url("//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/schedule_white_20dp.png");
}
