.email-index {
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
}


.email-index-main {
    display: grid;
    grid-template-columns: auto 1fr auto;  /* 256px - menu open & 72px - menu close */
    grid-template-rows: minmax(386px, calc(100vh - 64px));  /* 64px is the height of the email-nav-bar */
    min-width: 780px;  /* when 780, the side bar icons will disappear */
    font-size: 14px;
}


.email-index-main-center {
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 16px;
    padding: 0px;
    margin-bottom: 16px;
    min-width: 636px; /* need to pass to parent */
}

