.email-index {
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
}

.email-nav-bar {
    box-sizing: content-box;
    /* height: 48px; */
    padding: 8px;
    display: grid;
    grid-template-rows: 48px;
    grid-template-columns: 248px minmax(344px, 1fr) auto;
}

.email-nav-bar-left {
    margin-right: 30px;
    opacity: 0.87;
}

.email-nav-bar-left .svg-icon-3-lines {
    padding: 12px;
    margin-left: 4px;
    margin-right: 4px;
}

.email-nav-bar-left .icon-gmail-sign {
    margin-bottom: 4px;
}

.email-nav-bar-middle .email-nav-bar-search {
    max-width: 720px;
    border-radius: 24px;
    border-color: rgba(255, 255, 255, 0.87);
    background-color: rgb(69,69,70);
    display: grid;
    grid-template-columns: auto minmax(0px, 1fr) auto;
}

.email-nav-bar-middle .email-nav-bar-search .svg-icon-focus {
    padding: 12px;
}

.email-nav-bar-middle .email-nav-bar-search-box {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.87);
    border-style: none;
    background-color: rgb(69,69,70);
}

.email-nav-bar-middle .email-nav-bar-search-box::placeholder {
    color: rgba(255, 255, 255, 0.87);
}

.email-nav-bar-middle .email-nav-bar-search .svg-icon-filter {
    padding: 11px 16px 13px 56px;
    opacity: 0.87;
}

.email-nav-bar-right {
    margin-left: 10px;
    white-space: nowrap;
}

.email-nav-bar-right .svg-icon-support,
.email-nav-bar-right .svg-icon-settings,
.email-nav-bar-right .svg-icon-apps {
    opacity: 0.87;
    padding: 10px;
}

.email-nav-bar-right .curr-user-img {
    box-sizing: content-box;
    width: 32px;
    height: 32px;
    padding: 6px;
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 50%;
}




.email-index-main {
    display: grid;
    /* grid-template-columns: 256px 1fr 56px; */
    /* grid-template-columns: 72px 1fr 56px; */
    grid-template-columns: auto 1fr 56px;
    grid-template-rows: minmax(386px, 90vh);
    min-width: 780px; /* when 780, the side bar icons will disappear */
}


.email-menu .email-folder {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 24px;
}

.email-menu .email-folder i {
    opacity: 0.7;
    height: 20px;
    width: 20px;
    margin-left: 26px;
    margin-right: 18px;
}






.email-side-bar {
    display: grid;
    grid-template-rows: minmax(auto, 1fr) auto;
}

.email-side-bar .icon-google-calender,
.email-side-bar .icon-google-keep,
.email-side-bar .icon-google-tasks,
.email-side-bar .icon-google-contacts,
.email-side-bar .icon-add-white,
.email-side-bar .svg-icon-smaller-than {
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    padding: 10px;
    margin: 8px;
}

.email-side-bar .horizontal-line {
    display: block;
    height: 16px;
    width: 20px;
    border-top-color: rgba(255, 255, 255, 0.12);
    border-top-style: solid;
    border-top-width: 1px;
    margin: 16px 18px 0px 18px;
}




