

.home {
    display: grid;
    grid-template-rows: 60% 20% 20%;
    justify-items: center;
}

.home h1 img.gmail-logo-w {
    height: 40px;
    margin-left: -14px;
    margin-right: -15px;
    margin-bottom: -5px;
}

.home .selected-user-wrapper {
    display: grid;
    grid-auto-rows: 32px;
    grid-auto-flow: column;
    overflow-wrap: nowrap;
    align-content: start;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
}

.home .selected-user {
    color: rgb(0, 0, 0);
    background-color: rgb(107, 107, 107);
    font-size: 17px;
    font-weight: 500;
}

.home .selected-user::placeholder {
    color: rgb(46, 46, 46);
}

.home .login-button {
    border-radius: 5px;
    height: 32px;
    color: rgb(182, 182, 182);
    font-size: 17px;
    font-weight: 450;
}

.home h1 img.gmail-logo-text {
    height: 60px;
    margin-bottom: -13px;
    margin-left: 6px;
}
