

.home {
    width: max(200px, 50vw);
    height: max(200px, 50vh);
    display: grid;
    grid-template-rows: 70% 30%;
    align-content: center;
    justify-items: center;
}

.home h1 {
    font-size: 40px;
    margin: 10px;
}

.home nav {

}