

.home {
    display: grid;
    grid-template-rows: 80% 20%;
    justify-items: center;
}

.home h1 img.gmail-logo-w {
    height: 40px;
    margin-left: -14px;
    margin-right: -15px;
    margin-bottom: -5px;
}

.home h1 img.gmail-logo-text {
    height: 60px;
    margin-bottom: -13px;
    margin-left: 6px;
}
