/* Split the screen in half */
.split {
    box-sizing: border-box;
    /* height: 50%; */
    position: absolute;
    /* top: 1; */
    margin: 0;
    overflow-x: hidden;
    padding: 20px;
    /* z-index: 1; */
}

.map {
    /* background-color: aqua; */
    left: 0;
    width: 70%;
    height: 75%;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
}

.places-sidebar {
    /* background-color: yellow; */
    right: 0;
    width: 30%;
    height: 100%;
    border-left: hidden;
}

.places-list li {
    padding: 3px;
}

.places-list span {
    float: right;
}

.places-list button {
    margin-left: 5px;
}

.curr-location {
    background: rgb(255, 255, 255);
    border: 0px;
    margin: 10px;
    padding: 0px;
    text-transform: none;
    appearance: none;
    position: absolute;
    cursor: pointer;
    height: 40px;
    width: 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    overflow: hidden;
    top: 50px;
    right: 0px;
    font-size: 30px;
}