/********************************************/
/* ************* EMAIL-MENU *************** */

.email-menu-compose-wrapper {
    display: grid;
    justify-content: start;
}

.email-menu-compose {
    background-color: white;
    color: rgb(95, 99, 104);
    font-weight: 500;
    border-color: rgb(95, 99, 104);
    border-radius: 16px;
    margin: 8px 16px 8px 16px;
    display: grid;
    grid-template-columns: 40px 0px;
    grid-template-rows: 40px;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.email-menu-compose i {
    box-sizing: content-box;
    height: 20px;
    width: 20px;
    padding: 10px;
}

.email-menu-compose .mail-compose {
    visibility: hidden;
    padding-right: 24px;
}

.email-menu .email-menu-scrollable {
    height: calc(100vh - 56px - 64px);
}


.email-menu .email-folder {
    display: grid;
    grid-template-columns: auto 0px;
    grid-template-rows: 24px;
    align-items: center;
    border-radius: 50%;
    margin-left: 24px;
    margin-right: 16px;
    cursor: pointer;
}

.email-menu .email-folder i {
    box-sizing: content-box;
    opacity: 0.7;
    height: 20px;
    width: 20px;
    padding: 2px;
    margin: 0px;
}

.email-menu-labels .email-folder i {
    /* Make white */
    filter: brightness(0) invert(1);
}

.email-menu-labels h2 {
    font-size: 16px;
    font-weight: 500;
    visibility: hidden;
    margin: 28px 0px 12px 24px;
}

.email-menu .email-folder-name {
    visibility: hidden;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.email-menu .email-folder:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.email-menu .email-folder.current-folder {
    background-color: rgba(255, 255, 255, 0.3);
}

.email-menu .email-folder.current-folder i {
    opacity: 1;
}

/* open-menu OR hover over close-menu */
.email-menu.menu-close:hover .email-menu-compose,
.email-menu.menu-open .email-menu-compose {
    grid-template-columns: 56px auto;
    margin: 8px 16px 8px 8px;
    transition-property: margin, grid-template-columns;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email-menu.menu-close:hover .email-menu-compose i,
.email-menu.menu-open .email-menu-compose i {
    padding-left: 18px;
    transition-property: padding;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email-menu.menu-close:hover .email-menu-compose .mail-compose,
.email-menu.menu-open .email-menu-compose .mail-compose {
    visibility: visible;
}

.email-menu.menu-close:hover .email-folder,
.email-menu.menu-open .email-folder {
    grid-template-columns: auto 194px;
    margin-left: 0px;
    margin-right: 8px;
    border-radius: 0px 12px 12px 0px;
    transition-property: margin, border-radius, grid-template-columns;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email-menu.menu-close:hover .email-folder i,
.email-menu.menu-open .email-folder i {
    margin-left: 24px;
    transition-property: margin;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email-menu.menu-close:hover .email-folder-name,
.email-menu.menu-open .email-folder-name {
    visibility: visible;
    margin-left: 16px;
}

.email-menu.menu-close:hover .email-menu-labels h2,
.email-menu.menu-open .email-menu-labels h2 {
    visibility: visible;
}

/* transition delays */
.email-menu.menu-close:hover * {
    transition-delay: 0.4s;
}

.email-menu.menu-close:hover .email-menu-compose .mail-compose {
    transition-delay: 0.45s;
}

