/********************************************/
/* ************* EMAIL-COMPOSE *************** */

.email-compose-list {
    display: flex;
    align-items: end;
    position: absolute;
    bottom: 0px;
    right: 71px;
    z-index: 3;
}

.email-compose {
    box-shadow: 0px 8px 10px 1px rgba(0,0,0,.14), 0px 3px 14px 2px rgba(0,0,0,.12), 0px 5px 5px -3px rgba(0,0,0,.2);
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
    margin-left: 5px;
}

.email-compose-header {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    align-items: center;
    height: 40px;
    padding: 0px 12px 0px 16px;
    background-color: rgb(242, 242, 242);
    color: rgb(4, 30, 73);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.email-compose-header i {
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

.email-compose-header i:hover {
    background-color: rgba(68,71,70,0.078);
}

.email-compose-main {
    background-color: white;
    color: rgb(68, 71, 70);
    padding: 0px 16px 0px 16px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.email-compose-main .email-compose-to,
.email-compose-main .email-compose-subject,
.email-compose-main .email-compose-body {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(100,121,143,0.122);
}

.email-compose-main .email-compose-to,
.email-compose-main .email-compose-subject {
    height: 36px;
    padding: 8px 0px 7px 0px;
}

.email-compose-main .email-compose-body {
    padding: 10px 0px 9px 0px;
    white-space: normal;
    word-wrap: break-word;
    resize: none;
    font-size: 13px;
    line-height: 19.5px;
    font-family: Arial, Helvetica, sans-serif;
}

.email-compose-main .email-compose-footer {
    height: 60px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: center;
    align-items: center;
}

.email-compose-main .email-compose-footer .send-email {
    box-sizing: content-box;
    padding: 8px 16px 8px 16px;
    height: 20px;
    background-color: rgb(11, 87, 208);
    border: none;
    border-radius: 18px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.email-compose-main .email-compose-footer .icon-delete-baseline {
    box-sizing: content-box;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    margin: 4px;
    transition: all 0.15s cubic-bezier(0.4,0,0.2,1);
}

.email-compose-main .email-compose-footer .icon-delete-baseline:hover {
    background-color: rgba(32,33,36,0.059);
    margin: 0px;
    padding: 4px;
}


.email-compose-open-minimize {
    width: 260px;
}

.email-compose-open-minimize .email-compose-main {
    display: none;
}

.email-compose-open-small {
    width: 586px;  /* need to add line when resizing window */
    /* height dynamically calculated */
}

.email-compose-open-small .email-compose-main .email-compose-body {
    min-height: 286px;
    height: auto; /* need to add line when resizing window */
    max-height: 638px;
}

.wrapper-email-compose.open-fullscreen {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
}

.email-compose-open-fullscreen {
    /* not accurate, but good enough */
    width: max(600px, calc(100vw - 300px));
    height: calc(100vh - 80px);
}


