/************************************************/
/* ************* EMAIL-SIDE-BAR *************** */

.email-side-bar {
    width: 56px;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* wrapper - so the icon won't cropped by the padding and border */
.email-side-bar .wrapper-icon,
.email-side-bar .wrapper-icon-smaller-than {
    display: inline-block;
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    margin: 8px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.email-side-bar .icon-google-calender,
.email-side-bar .icon-google-keep,
.email-side-bar .icon-google-tasks,
.email-side-bar .icon-google-contacts,
.email-side-bar .icon-add-white,
.email-side-bar .svg-icon-smaller-than {
    box-sizing: content-box;
    width: 20px;
    height: 20px;
}

.email-side-bar .horizontal-line {
    display: block;
    height: 16px;
    width: 20px;
    border-top-color: rgba(255, 255, 255, 0.12);
    border-top-style: solid;
    border-top-width: 1px;
    margin: 16px 18px 0px 18px;
}

.email-side-bar .wrapper-icon-smaller-than {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.email-side-bar .svg-icon-smaller-than {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.email-side-bar .wrapper-icon:hover {
    background-color: rgb(71, 71, 71);
}

.email-side-bar.bar-open .wrapper-icon-smaller-than:hover {
    background-color: rgb(46, 46, 46);
}


/**** Closing the side-bar ****/
.email-side-bar.bar-close {
    width: 16px;
}

.email-side-bar.bar-close .email-side-bar-links {
    display: none;
}

.email-side-bar.bar-close .svg-icon-smaller-than {
    transform: rotate(180deg);
}

.email-side-bar.bar-close .wrapper-icon-smaller-than {
    z-index: 2;
    background-color: rgb(89, 89, 89);
    border-radius: 58px 0px 0px 58px;
    padding: 10px 0px 10px 4px;
    margin: 0px 0px 8px 0px;
}

.email-side-bar.bar-close .wrapper-icon-smaller-than:hover {
    background-color: rgb(65,65,65);
    padding: 10px 18px 10px 10px;
    margin: 0px 0px 8px 0px;
}